body {
  font-family: sans-serif;
  font-weight: 1em;
  margin: 0px auto;
  width: 920px;
}

.logo {
  float: left;
  width: 180px;
}

.search {
  float: left;
  margin: 24px 80px;
}

#header::after {
  content: "";
  clear: both;
  display: table;
}

#header a {
  display: inline-block;
  padding: 24px;
}

#productgrid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}

.product {
  width: 160px;
  text-align: center;
  border-radius: 20px;
  background-color: #F2F9F8;
}

.product img {
  width: 140px;
  height: 140px;
  padding: 8px;
}

.productdetailsimage {
  width: 240px;
}

#categories {
  float: left;
  margin-right: 20px;
  height: 600px;
}

#categories ul {
  padding: 0px;
}

#categories li {
  list-style: none;
  padding: 8px;
}

td {
  padding: 8px;
}

td img {
  width: 60px;
  padding: 8px;
}

input, select {
  padding: 4px;
}

button {
  padding: 4px 12px;
}
