<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gennaro's webshop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/styles/screen.css' %}">
  </head>
  <body>
    <div id="header">
      <img class="logo" src="{% static 'shop/images/logo.png' %}">
      <form class="search" action="{% url 'index' %}" method="get">
        <input type="text" name="q" value="{{ filter }}">
        <button type="submit">Search</button>
      </form>
      <a href="{% url 'shoppingcart' %}">Shopping cart ({{ visitor.get_shopping_cart_item_count }})</a>
    </div>
    <div id="categories">
      <ul>
        <li><a href="{% url 'index' %}">All</a></li>
        {% for category in categories %}
        <li><a href="{% url 'categories' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <h1>{{ title }}</h1>
    {% block main %}{% endblock %}
  </body>
</html>
